.appLogo {
  width: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  -webkit-app-region: drag;

  img {
    display: block;
    border-radius: 3px;
    object-fit: contain;
  }
}
