PAYU_MERCHANT_KEY=your_test_key
PAYU_MERCHANT_SALT=your_test_salt
PAYU_MODE=test
OLKIL_PAYU_INTERNAL_SECRET=generate-a-long-random-hex
OLKIL_PAYU_FIREBASE_URL=https://asia-south1-olkil-2c8ac.cloudfunctions.net/olkilPayuApi
